<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request-counter</title>
</head>
<body>
    <h1>Statistics</h1>
    <br>
    <table>
        <tr>
            <th>Method</th>
            <th>Count</th>
        </tr>
        <tr>
            <td>GET:</td>
            <td>{{ count_get }}</td>
        </tr>
        <tr>
            <td>POST:</td>
            <td>{{ count_post }}</td>
        </tr>
        <tr>
            <td>DELETE:</td>
            <td>{{ count_delete }}</td>
        </tr>
        <tr>
            <td>PUT:</td>
            <td>{{ count_put }}</td>
        </tr>
    </table>
    <br>
    <a href="/">Back to index</a>
</body>
</html>